<section class="relative w-full min-h-screen grid items-start content-start p-20">
  <cms-next-cms-language-switch [languageTemplate]="2"></cms-next-cms-language-switch>
  <div class="absolute w-1 h-full border-l border-gray-300 border-dashed left-20 top-0"></div>
  <div class="absolute w-1 h-full border-r border-gray-300 border-dashed right-20"></div>
  <div class="absolute w-full h-1 border-t border-gray-300 border-dashed top-20"></div>
  <div class="absolute w-full h-1 border-b border-gray-300 border-dashed bottom-20"></div>
  <ng-container #insertPoint></ng-container>
</section>
<div class="hidden" #removePoint></div>
