<!DOCTYPE html>
<html lang="en">

<head>
    <title>More-commerce invitation</title>
</head>
<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" 
        style=" border: 1px solid #cccccc; 
            border-collapse: collapse;">
      <tr>
        <td align="center"
            style="padding: 40px 0 60px 0; 
              color: #484b52; 
              font-size: 28px; 
              font-weight: bold;">
          <img src="cid:more-commerce@logo" alt="More-commerce" width="300" height="auto" style="display: block;" />
        </td>
      </tr>
      <tr>
        <td style="color: #484b52; font-family: Arial, sans-serif; font-size: 24px; text-align: center;">
          <b>You're invited to <span style="color:#54b1ff"><%- subject %></span></b>
        </td>
      </tr>
      <tr>
        <td style="    
              padding: 20px 0 0 0; 
              color: #484b52;
              font-size: 16px; 
              line-height: 20px; 
              text-align: center;">
          <a style="text-decoration: none;"><%- from %></a> 
          <br>has invited you to join <%- subject %> on More-commerce. </br>
          <p style="padding-top:30px; padding-bottom:15px">
            Click link below to join now.
          </p>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding:0px 0px 60px">
          <a style="padding:13px 20px;
              background: #54b1ff;
              color: white;
              border-radius: 40px;
              cursor: pointer;
              border: none;
              text-decoration: none;
              font-size:18px;
              font-weight:900px;
              align-items: center;"
              target="_blank" href="<%- link %>">
            Join More-commerce
          </a>
        </td>
      </tr>
      <tr>
        <td style="
              padding: 30px 0px 30px 0px;
              color: #54b1ff; 
              font-size: 14px; 
              text-align: center; 
              border-top:1px solid #d3e2ec; 
              padding-top:30px">
          &reg; Made by More-commerce<br />
        </td>
      </tr>
    </table>
</body>

</html>