<section class="bg-white border border-gray-200 rounded-md">
  <div class="flex justify-between p-4 text-lg shadow-md">Audience</div>
  <div class="grid grid-cols-2">
    <cms-next-total-visitor [autodigiWebstat]="autodigiWebstat"></cms-next-total-visitor>
    <cms-next-traffic-source [autodigiWebstat]="autodigiWebstat"></cms-next-traffic-source>
    <cms-next-device [autodigiWebstat]="autodigiWebstat"></cms-next-device>
    <cms-next-widget-click [autodigiWebstat]="autodigiWebstat"></cms-next-widget-click>
  </div>
</section>
