<div class="container-row">
  <reactor-room-sidebar-nav></reactor-room-sidebar-nav>
  <div class="container-column" style="margin-left: 70px">
    <reactor-room-top-tool-bar-component></reactor-room-top-tool-bar-component>
    <div class="container-column" style="padding-left: 20px">
      <div class="container-row">
        <mat-card class="container-row">
          <div>
            <mat-select matNativeControl>
              <mat-option value="11">tests</mat-option>
            </mat-select>
          </div></mat-card
        >
      </div>
      <div></div>
    </div>
  </div>
</div>
