<section class="flex items-center justify-center px-6 py-8 mobile">
  <div class="flex items-center justify-center border-2 border-white rounded-3xl" [ngStyle]="{ 'width.px': mobileSize.width + 40, 'height.px': mobileSize.height + 40 }">
    <div id="scroll-container-mobile" class="overflow-scroll bg-white rounded itp-mobile" [ngStyle]="{ 'width.px': mobileSize.width, 'height.px': mobileSize.height }">
      <cms-next-cms-preview-renderding></cms-next-cms-preview-renderding>
    </div>
  </div>
</section>
