<section class="px-6 py-8">
  <cms-next-heading [heading]="heading">
    <div class="grid grid-cols-3 gap-4 btn-group">
      <button
        [ngClass]="{ 'bg-gray-300 cursor-not-allowed': !btnExportStatus, 'bg-gray-700 hover:scale-105': btnExportStatus }"
        class="px-4 py-2 font-light text-white transition transform rounded-2xl custom-shadow focus:outline-none"
      >
        Export
      </button>
      <button class="px-4 py-2 font-light text-white transition transform bg-gray-700 rounded-2xl custom-shadow focus:outline-none hover:scale-105">Import</button>
      <button
        [routerLink]="['/' + RouteLinkEnum.SHORTCUT_WEBSITE_MANAGEMENT + '/' + RouteLinkEnum.SHORTCUT_CONTENT_MANAGEMENT + '/' + 'new']"
        class="flex items-center px-4 py-2 font-light text-white transition transform bg-green-500 rounded-2xl custom-shadow focus:outline-none hover:scale-105"
      >
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.08681 0H8.44097C8.56134 0 8.62153 0.0601852 8.62153 0.180556V16.0694C8.62153 16.1898 8.56134 16.25 8.44097 16.25H7.08681C6.96644 16.25 6.90625 16.1898 6.90625 16.0694V0.180556C6.90625 0.0601852 6.96644 0 7.08681 0Z"
            fill="#F1F2F6"
          />
          <path
            d="M0.180556 7.26758H15.3472C15.4676 7.26758 15.5278 7.32776 15.5278 7.44813V8.8023C15.5278 8.92267 15.4676 8.98286 15.3472 8.98286H0.180556C0.0601852 8.98286 0 8.92267 0 8.8023V7.44813C0 7.32776 0.0601852 7.26758 0.180556 7.26758Z"
            fill="#F1F2F6"
          />
        </svg>
        <span class="ml-2">Content</span>
      </button>
    </div>
  </cms-next-heading>
  <mat-tab-group class="general-tab" [(selectedIndex)]="selectedIndex" (selectedIndexChange)="handleIndexChange($event)">
    <mat-tab [label]="'Content' | translate">
      <cms-next-content-list></cms-next-content-list>
    </mat-tab>
    <mat-tab [label]="'Category' | translate">
      <cms-next-content-category></cms-next-content-category>
    </mat-tab>
  </mat-tab-group>
</section>
