<section class="px-6 py-8">
  <cms-next-heading [heading]="heading"></cms-next-heading>
  <div class="grid gap-6 grid-cols-2-1">
    <div class="grid gap-4">
      <cms-next-site-details></cms-next-site-details>
      <cms-next-order></cms-next-order>
      <cms-next-message></cms-next-message>
      <cms-next-date-filter></cms-next-date-filter>
      <cms-next-e-commerce></cms-next-e-commerce>
      <cms-next-summary></cms-next-summary>
      <cms-next-audience></cms-next-audience>
      <cms-next-domain></cms-next-domain>
      <cms-next-seo></cms-next-seo>
    </div>
    <div>
      <cms-next-my-shortcut></cms-next-my-shortcut>
    </div>
  </div>
</section>
