<div class="wizard-step-2">
  <div class="content">
    <div class="title-container">
      <div class="title">Step 2: Shop Owner</div>
      <div class="sub-title">Enter your shop owner info for using Receipts, Shipping label</div>
    </div>
    <div class="divider">
      <svg xmlns="http://www.w3.org/2000/svg" width="53" height="5">
        <path fill="none" stroke="#e3eff7" strokeWidth="2" d="M1055 313h50" transform="translate(-1054 -311)"></path>
      </svg>
    </div>
    <reactor-room-setting-shop-owner-detail (cancel)="onCancel()" [inputState]="SocialModeTypes.CREATE_WIZARD"> </reactor-room-setting-shop-owner-detail>
  </div>
</div>
