<section class="low-stock-container px-6 py-8">
  <cms-next-heading [heading]="heading">
    <div class="btn-group">
      <!-- Setting -->
      <ng-container *ngIf="show">
        <button
          *ngIf="currentPage === 'SETTING'"
          (click)="navigateTo('INVENTORY')"
          class="btn-back px-6 py-2 mt-4 font-light text-black transition transform bg-white shadow-lg focus:outline-none rounded-2xl hover:scale-105"
        >
          Back
        </button>
      </ng-container>
      <!-- <ng-container *ngIf="">  -->
      <!-- inventory -->

      <button
        *ngIf="currentPage === 'INVENTORY'"
        (click)="navigateTo()"
        class="btn-back-e px-6 py-2 mt-4 font-light text-black transition transform bg-white shadow-lg focus:outline-none rounded-2xl hover:scale-105"
      >
        Back
      </button>

      <button
        *ngIf="currentPage === 'INVENTORY'"
        (click)="navigateTo('SETTING')"
        class="btn-setting px-6 py-2 mt-4 font-light text-black transition transform bg-white shadow-lg focus:outline-none rounded-2xl hover:scale-105"
      >
        Setting
      </button>
      <!-- </ng-container> -->
    </div>
  </cms-next-heading>

  <router-outlet></router-outlet>
</section>
