<div class="troubleshoot-dialog-container custom-scroll-bar">
  <div class="wrapper">
    <div class="header">{{ 'PLEASE_FOLLOW_THE_INSTRUCTION' | translate }}</div>
    <div class="step">
      <div class="title">
        <span
          ><b>{{ 'INSTRUCTION_STEP' | translate }} 1</b></span
        >
        <span> {{ 'STEP_1_CONTINUE_WITH_FACEBOOK' | translate }}</span>
      </div>
      <div class="images">
        <img src="../../../assets/img/linkerror/log2.png" />
      </div>
    </div>
    <div class="step">
      <div class="title">
        <span
          ><b>{{ 'INSTRUCTION_STEP' | translate }} 2</b></span
        >
        <span> {{ 'STEP_2_CONTINUE_WITH_FACEBOOK' | translate }}</span>
      </div>
      <div class="images">
        <img src="../../../assets/img/linkerror/2.png" />
        <img src="../../../assets/img/linkerror/login.png" />
      </div>
    </div>
    <div class="step">
      <div class="title">
        <span
          ><b>{{ 'INSTRUCTION_STEP' | translate }} 3</b></span
        >
        <span> {{ 'STEP_3_GIVE_PERMIT' | translate }}</span
        ><br />
        <span>* {{ 'STEP_3_PAGE_NOT_FOUND' | translate }}</span>
      </div>
      <div class="images">
        <img src="../../../assets/img/linkerror/3-1.png" />
        <img src="../../../assets/img/linkerror/3-2.png" />
      </div>
      <div class="images">
        <img src="../../../assets/img/linkerror/select.png" />
      </div>
    </div>
    <div class="step">
      <div class="title">
        <span
          ><b>{{ 'INSTRUCTION_STEP' | translate }} 4</b></span
        >
        <span> {{ 'STEP_4_GIVE_PERMIT' | translate }}</span>
      </div>
      <div class="images">
        <img src="../../../assets/img/linkerror/4.png" />
      </div>
    </div>
    <div class="step">
      <div class="title">
        <span
          ><b>{{ 'INSTRUCTION_STEP' | translate }} 5</b></span
        >
        <span> {{ 'STEP_5_COMPLETE' | translate }}</span>
      </div>
      <div class="images">
        <img src="../../../assets/img/linkerror/5.png" />
      </div>
    </div>

    <div class="footer">
      <div (click)="onClose()" class="close">
        <u>{{ 'Close' | translate }}</u>
      </div>
    </div>
  </div>
</div>
