<div class="sidebar">
  <a routerLink="hosting">Hosting</a>
  <a routerLink="theme">Theme</a>
  <a routerLink="template">Template</a>
  <a routerLink="">Pagination</a>
  <a routerLink="">Landing Page</a>
  <a routerLink="content-manager">Content Manager</a>
  <a routerLink="">Gallery</a>
  <a routerLink="">Menu</a>
  <a routerLink="">Button</a>
  <a routerLink="">Shopping</a>
  <a routerLink="">Search</a>
  <a routerLink="">Tab</a>
  <a routerLink="">Table</a>
  <a routerLink="">Form</a>
  <a routerLink="user-management">User Manage</a>
</div>
