<section class="flex items-center justify-center px-6 py-8 tablet">
  <div class="flex items-center justify-center border-2 border-white rounded-3xl" [ngStyle]="{ 'width.px': tabletSize.width + 40, 'height.px': tabletSize.height + 40 }">
    <div id="scroll-container-tablet" class="overflow-scroll bg-white rounded" [ngStyle]="{ 'width.px': tabletSize.width, 'height.px': tabletSize.height }">
      <cms-next-cms-preview-renderding></cms-next-cms-preview-renderding>
    </div>
  </div>
</section>
