<reactor-room-card [withTitle]="true" [paddingBottom]="padding" [padding]="padding">
  <div class="card-title">
    {{ 'Leads' | translate }}
    <!-- <span class="all-time">({{ 'All Time' | translate }})</span> -->
  </div>
  <div class="card-content">
    <div class="dashboard-lead-steps" id="lead-steps-container">
      <div class="cards">
        <reactor-room-step
          *ngFor="let item of steps; let i = index"
          [isLast]="i >= steps.length - 1"
          [TotalAsync]="item.total"
          [Step]="item"
          [routerLink]="item?.route"
          [isGreyBg]="true"
        >
        </reactor-room-step>
      </div>
    </div>
  </div>
</reactor-room-card>
