<section class="fixed flex items-center justify-center w-full h-full bg-gradient-to-b from-white to-green-100">
  <div class="rounded-md custom-shadow py-10 px-20 bg-white grid gap-6">
    <p class="font-light text-sm text-gray-500 tracking-wide leading-relaxed">
      <b class="text-lg">Sorry, We're detected a problem on your page.</b><br /><br />
      <b class="text-red-600">" Page application scope not allow "</b><br /><br />
      If have any problem please contact us<br />
      Tel. <a class="text-green-500">02-029-1200</a><br />
      LINE. <a class="text-green-500">@ITOPLUS</a><br />
      Facebook. <a class="text-green-500">ITOPLUS</a>
    </p>
  </div>
</section>
