<cms-next-cms-popover-layout (popOverBtn)="popOverBtn($event)">
  <ng-container class="popover-content">
    <mat-tab-group>
      <mat-tab label="Setting">
        <div class="grid gap-4 mt-5" [formGroup]="productPriceSettingFormGroup">
          <section>
            <div class="layout-label">Price</div>
            <p><mat-checkbox formControlName="general_price">General Price</mat-checkbox></p>
            <p><mat-checkbox formControlName="member_price">Member Price</mat-checkbox></p>
            <p><mat-checkbox formControlName="vip_price">VIP Price</mat-checkbox></p>
          </section>

          <section class="grid gap-1">
            <div class="flex justify-between">
              <div class="text-sm layout-label flex items-center">Style</div>
              <img class="cursor-pointer" (click)="onScrollAnimation()" src="assets/cms/icon/arrow-right.svg" alt="arrow-right" />
            </div>
            <div class="flex overflow-x-auto space-x-8" #animationSlider>
              <ng-container *ngFor="let skuStyle of productPriceStyleList; let index = index">
                <img class="p-2 cursor-pointer" (click)="onActiveAnimationStyle(index)" [ngClass]="{ hidden: skuStyle.selected }" [src]="skuStyle.imgURL" alt="style" />
                <img class="p-2" [ngClass]="{ hidden: !skuStyle.selected }" (click)="onActiveAnimationStyle(index)" [src]="skuStyle.activeImageURL" alt="style-active" />
              </ng-container>
            </div>
          </section>
        </div>
      </mat-tab>

      <mat-tab label="Custom">
        <section class="mt-5 grid gap-2" [formGroup]="productPriceThemeCustomFormGroup">
          <section>
            <div class="layout-label">Theme color</div>
            <div class="grid grid-cols-8">
              <div class="w-8 h-8" [ngStyle]="{ 'background-color': color }" *ngFor="let color of themeColorCode"></div>
            </div>
          </section>

          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Header', colorControl: 'headerColor', colorOpacity: 'headerOpacity' }"> </ng-container>

          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Sub Header', colorControl: 'subHeaderColor', colorOpacity: 'subHeaderOpacity' }"> </ng-container>
          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Detail', colorControl: 'detailColor', colorOpacity: 'detailOpacity' }"> </ng-container>
          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Sub Detail', colorControl: 'subDetailColor', colorOpacity: 'subDetailOpacity' }"> </ng-container>
          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Background Color', colorControl: 'backgroundColor', colorOpacity: 'backgroundOpacity' }"> </ng-container>
          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Asset 1', colorControl: 'asset1Color', colorOpacity: 'asset1Opacity' }"> </ng-container>
          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Asset 2', colorControl: 'asset2Color', colorOpacity: 'asset2Opacity' }"> </ng-container>
          <ng-container *ngTemplateOutlet="colorForm; context: { label: 'Asset 3', colorControl: 'asset3Color', colorOpacity: 'asset3Opacity' }"> </ng-container>

          <ng-template #colorForm let-label="label" let-colorControl="colorControl" let-colorOpacity="colorOpacity">
            <div class="grid gap-2">
              <div class="grid w-10/12 gap-2">
                <div class="flex items-center">
                  <div class="layout-label">{{ label }}</div>
                </div>
                <div class="flex items-center">
                  <div class="flex items-center h-12 p-2 mr-4 border border-gray-100 rounded-md w-36">
                    <input type="color" [formControlName]="colorControl" class="focus:outline-none border-gray-200 border-2 focus:border-green-500" />
                    <span class="pl-2">{{ productPriceThemeCustomFormGroup['controls'][colorControl].value }}</span>
                  </div>
                  <input class="h-12 text-center border border-gray-100 rounded-md w-14 focus:outline-none" type="text" [formControlName]="colorOpacity" />
                </div>
              </div>
            </div>
          </ng-template>
        </section>

        <cms-next-cms-layout-text> </cms-next-cms-layout-text>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</cms-next-cms-popover-layout>
