<div
  class="guideline absolute w-full h-full left-0 top-0 group flex items-center justify-center group"
  (dblclick)="onMenuFocusEvent()"
  [ngClass]="{ 'border border-green-500 ': onFocus }"
>
  <div class="w-full h-full group-hover:flex" [ngClass]="{ flex: isChildEnter || onFocus, hidden: !isChildEnter && !onFocus }">
    <div
      [ngClass]="{ 'bg-green-500': !onFocus && !themeOption, 'bg-green-900': !onFocus && themeOption, 'bg-gray-700': onFocus }"
      class="absolute right-0 px-2 py-1 text-sm font-light text-white rounded-t cursor-pointer bottom-full focus:outline-none flex items-center justify-between"
    >
      <span *ngIf="themeOption">{{ themeOption.themeIdentifier }}</span>
      <span *ngIf="!themeOption">Menu</span>
      <button *ngIf="!isThemeGlobal" (click)="onRemoveCurrentComponent()" class="focus:outline-none pl-4">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="7" cy="7" r="7" fill="#AAB2C2" />
          <path d="M3.81641 3.81641L10.18 10.18M10.18 3.81641L3.81641 10.18" stroke="white" stroke-linecap="round" />
        </svg>
      </button>
    </div>
    <div class="absolute w-full h-full bg-green-500 opacity-40 cursor-move" [ngClass]="{ hidden: onFocus || isChildEnter }"></div>
  </div>
</div>
<div (mouseenter)="mouseEnterEvent()" (mouseleave)="mouseLeaveEvent()" class="w-full">
  <section [innerHtml]="safeHTML"></section>
  <section [innerHtml]="safeCSS"></section>
</div>
