<section class="relative flex flex-col items-center">
  <h2 class="text-5xl text-center text-white">{{ 'Content Management System' | translate }}</h2>
  <div class="w-24 h-1 my-8 bg-white rounded-full opacity-30"></div>
  <div class="w-full max-w-4xl font-light text-center text-white text-md opacity-90">
    Intelligence system (ITOPPLUS Website System) product and develop under our licence suitable for startuo business that prefer to design own stylish online shop website by
    yourself. Our system is secured with https
  </div>
  <div class="w-full h-full max-w-6xl my-8">
    <svg class="w-full h-full" width="946" height="498" viewBox="0 0 946 498" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="4.61848" cy="18.6185" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="30.5001" cy="18.6185" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="56.3814" cy="18.6185" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="4.61848" cy="44.5" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="30.5001" cy="44.5" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="56.3814" cy="44.5" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="4.61848" cy="70.3815" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="30.5001" cy="70.3813" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="56.3814" cy="70.3813" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="4.61848" cy="96.2628" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="30.5001" cy="96.263" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="56.3814" cy="96.263" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="4.61848" cy="122.144" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="30.5001" cy="122.145" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="56.3814" cy="122.145" r="4.61848" fill="#92E898" fill-opacity="0.35" />
      <circle cx="889.618" cy="389.618" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="915.5" cy="389.618" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="941.382" cy="389.618" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="889.618" cy="415.5" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="915.5" cy="415.5" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="941.382" cy="415.5" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="889.618" cy="441.382" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="915.5" cy="441.381" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="941.382" cy="441.381" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="889.618" cy="467.263" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="915.5" cy="467.263" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="941.382" cy="467.263" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="889.618" cy="493.144" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="915.5" cy="493.145" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <circle cx="941.382" cy="493.145" r="4.61848" fill="#57B85E" fill-opacity="0.35" />
      <rect opacity="0.8" x="139" width="711" height="479" rx="10" fill="white" />
      <rect opacity="0.8" x="111" y="19" width="711" height="479" rx="10" fill="white" />
    </svg>
  </div>
</section>
