<section class="grid gap-4">
  <div class="grid gap-1">
    <span>Menu Style</span>
    <div class="flex items-center cursor-pointer focus:outline-none" (click)="onSetMenuStyle(EMenuStyle.HORIZONTAL)">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="5.65" fill="white" stroke="#BCC4D6" stroke-width="0.7" />
        <circle *ngIf="menuSettingStyleForm['controls']['style'].value === EMenuStyle.HORIZONTAL" cx="6" cy="6" r="2.65" fill="#2EC639" stroke="#2EC639" stroke-width="0.7" />
      </svg>
      <span class="pl-2">Horoziontal Menu</span>
    </div>
    <div class="flex items-center cursor-pointer focus:outline-none" (click)="onSetMenuStyle(EMenuStyle.VERTICAL)">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="5.65" fill="white" stroke="#BCC4D6" stroke-width="0.7" />
        <circle *ngIf="menuSettingStyleForm['controls']['style'].value === EMenuStyle.VERTICAL" cx="6" cy="6" r="2.65" fill="#2EC639" stroke="#2EC639" stroke-width="0.7" />
      </svg>
      <span class="pl-2">Vertical Menu</span>
    </div>
  </div>
</section>
