<div class="pdpa" id="mc-pdpa-modal">
  <div class="pdpa-text-container">
    <div class="pdpa-text">
      <!-- <span>I agree to the </span><span><a href="#" onClick="openTerms()">Terms and conditions and the privacy policy</a></span> -->
      <!-- <span>I agree to the </span><span><a href="#" onClick="openTerms()">Terms and conditions and the privacy policy</a></span>  -->
      <span>ฉันยอมรับ</span><span><a href="#" onClick="openTerms()">ข้อกำหนดและเงื่อนไขในการใช้งานและนโยบายความเป็นส่วนตัว</a></span>

      <!-- <span> and </span><span><a href="#" onClick="openDatause()">Data use policy</a></span> -->
    </div>
    <button class="pdpa-accept" onClick="closePDPAModal()">Accept</button>
  </div>
</div>
