<section>
  <mat-tab-group class="custom-tab" [(selectedIndex)]="selectedIndex">
    <mat-tab label="Level 1">
      <cms-next-cms-menu-custom-design-level [level]="1"></cms-next-cms-menu-custom-design-level>
    </mat-tab>
    <mat-tab label="Level 2">
      <cms-next-cms-menu-custom-design-level [level]="2"></cms-next-cms-menu-custom-design-level>
    </mat-tab>
    <mat-tab label="Level 3">
      <cms-next-cms-menu-custom-design-level [level]="3"></cms-next-cms-menu-custom-design-level>
    </mat-tab>
    <mat-tab label="Level 4">
      <cms-next-cms-menu-custom-design-level [level]="4"></cms-next-cms-menu-custom-design-level>
    </mat-tab>
  </mat-tab-group>
</section>
