<section #section class="grid gap-2 pt-6">
  <cms-next-cms-template></cms-next-cms-template>
  <cms-next-cms-layout></cms-next-cms-layout>
  <cms-next-cms-content-manager *ngIf="landingMode !== ELandingMode.CONTENT"></cms-next-cms-content-manager>
  <cms-next-cms-text-section></cms-next-cms-text-section>
  <cms-next-cms-media></cms-next-cms-media>
  <cms-next-cms-shopping-cart></cms-next-cms-shopping-cart>
  <cms-next-cms-menu></cms-next-cms-menu>
  <cms-next-cms-form></cms-next-cms-form>
  <cms-next-cms-tabs></cms-next-cms-tabs>
  <cms-next-cms-button></cms-next-cms-button>
</section>
