<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>More-Commerce</title>
    <script>
      <%if (payload) { %>
          var payloadData = <%-JSON.stringify(payload); %>
      <% } %>
    </script>
  </head>

  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      overflow-x: hidden;
    }
    .download-file-container {
      padding: 0 10px;
      display: flex;
      height: 100%;
    }

    .logo {
      display: flex;
      margin: 20px auto;
    }

    .content {
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    .file-name {
      max-width: 320px;
      word-break: break-all;
      white-space: wrap;
    }
    .donwload-button {
      padding: 10px;
      background: #54b1ff;
      color: #fff;
      /* padding: 0px 20px; */
      border-radius: 40px;
      cursor: pointer;
      border: none;
      margin: 20px auto;
      text-decoration: none;
    }
  </style>
  <body>
    <div class="download-file-container">
      <div class="content">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="255" height="88" viewBox="0 0 476 164" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M112.051 2.71558C120.877 -0.704407 130.643 -0.809418 139.54 2.41998C147.088 5.16043 153.609 10.1591 158.216 16.7362C162.824 23.3133 165.293 31.1497 165.29 39.18V96.19C165.301 99.9784 163.878 103.631 161.307 106.413C158.736 109.196 155.207 110.902 151.43 111.19H139.54V46.84C139.54 41.0689 137.247 35.5341 133.167 31.4534C129.086 27.3726 123.551 25.08 117.78 25.08C112.009 25.08 106.474 27.3726 102.393 31.4534C98.3126 35.5341 96.02 41.0689 96.02 46.84V111.19H70.27V46.84C70.27 41.0689 67.9774 35.5341 63.8967 31.4534C59.8159 27.3726 54.2811 25.08 48.51 25.08C42.7389 25.08 37.2042 27.3726 33.1234 31.4534C29.0425 35.5341 26.75 41.0689 26.75 46.84V111.19H1V0H12.3C15.5414 0.0106506 18.6931 1.06616 21.2872 3.00989C23.8812 4.95364 25.7794 7.68198 26.7 10.79C26.8389 11.0913 27.0619 11.346 27.3422 11.5234C27.6226 11.7009 27.9482 11.7935 28.28 11.79C28.6135 11.7876 28.9395 11.6905 29.22 11.51L29.38 11.4C29.4159 11.3693 29.4493 11.3359 29.48 11.3C33.834 7.02075 39.1292 3.81989 44.9418 1.95355C50.7545 0.0872192 56.9232 -0.392853 62.9546 0.551819C68.986 1.49646 74.7125 3.8396 79.6762 7.39374C84.6398 10.9479 88.7028 15.6144 91.54 21.02C95.938 12.6386 103.225 6.13553 112.051 2.71558ZM357.57 25.08V0.570007H357.62C354.015 -0.17984 350.284 -0.0679932 346.73 0.896423C343.177 1.86081 339.901 3.65054 337.17 6.12C337.05 6.25058 336.92 6.371 336.78 6.47998C335.968 7.18777 334.927 7.5784 333.85 7.58002C332.589 7.55115 331.391 7.02316 330.52 6.11194C329.648 5.20074 329.173 3.9808 329.2 2.72V0H303.44V96.25C303.447 100.051 304.896 103.707 307.495 106.48C310.093 109.253 313.648 110.937 317.44 111.19H329.15V46.84C329.15 41.0689 331.443 35.5341 335.523 31.4534C339.604 27.3726 345.139 25.08 350.91 25.08H357.57ZM253.836 3.61337C264.84 7.74493 274.249 15.261 280.71 25.08V25.07C284.726 31.1698 287.501 38.0018 288.874 45.1749C290.247 52.348 290.192 59.7215 288.713 66.8734C287.233 74.0254 284.358 80.8154 280.251 86.8548C276.144 92.8943 270.887 98.0646 264.78 102.07C255.738 108.023 245.146 111.187 234.32 111.17C225.109 111.17 216.042 108.88 207.935 104.505C199.828 100.131 192.937 93.8095 187.88 86.11C182.346 77.7114 179.214 67.96 178.82 57.91V53.33C179.302 41.5859 183.498 30.2976 190.804 21.0896C198.109 11.8816 208.147 5.2287 219.474 2.08826C230.801 -1.05219 242.832 -0.518188 253.836 3.61337ZM217.389 80.9498C222.401 84.2967 228.293 86.082 234.32 86.08V86.09C238.321 86.0887 242.283 85.2993 245.98 83.7668C249.676 82.2343 253.034 79.9888 255.863 77.1585C258.691 74.3282 260.934 70.9684 262.464 67.2711C263.995 63.5739 264.781 59.6114 264.78 55.61C264.78 49.5832 262.993 43.6917 259.644 38.6808C256.296 33.6698 251.536 29.7644 245.968 27.4585C240.4 25.1526 234.273 24.5497 228.362 25.7262C222.451 26.9027 217.022 29.8057 212.761 34.068C208.5 38.3303 205.599 43.7605 204.424 49.6718C203.25 55.583 203.855 61.7098 206.162 67.2773C208.47 72.8448 212.377 77.6029 217.389 80.9498ZM474.86 63.59C476.622 51.4649 474.325 39.0975 468.328 28.4132C462.331 17.7288 452.97 9.32693 441.701 4.5155C430.433 -0.295959 417.89 -1.24701 406.026 1.81039C394.161 4.86777 383.64 11.7621 376.1 21.42C375.173 22.6 374.3 23.8133 373.48 25.06C369.896 30.5089 367.293 36.5434 365.79 42.89L365.789 42.8927C365.66 43.4718 365.53 44.0509 365.42 44.63C364.174 50.8376 363.995 57.2122 364.89 63.48C364.888 63.495 364.886 63.5102 364.886 63.5254C364.886 63.5403 364.888 63.5552 364.89 63.57C366.17 72.3934 369.555 80.7791 374.759 88.0187C379.963 95.2584 386.832 101.139 394.788 105.165C402.743 109.191 411.55 111.243 420.465 111.148C429.381 111.053 438.142 108.814 446.01 104.62C447.53 103.82 449.01 102.93 450.43 101.99C455.868 98.398 460.634 93.8795 464.51 88.64C465.13 87.81 465.71 86.97 466.28 86.11C468.558 82.6436 470.443 78.934 471.9 75.05H448.8C446.862 75.1403 444.961 75.6055 443.2 76.42C441.965 77.0102 440.815 77.7636 439.78 78.66C435.879 82.0219 431.189 84.3401 426.15 85.3983C421.11 86.4564 415.884 86.2199 410.96 84.7108C406.036 83.2017 401.575 80.4693 397.994 76.7688C394.412 73.0683 391.827 68.5204 390.48 63.55L474.86 63.59ZM391.46 44.65C393.676 38.9106 397.577 33.9765 402.651 30.4967C407.725 27.0169 413.733 25.1545 419.885 25.1545C426.037 25.1545 432.045 27.0169 437.119 30.4967C442.193 33.9765 446.094 38.9106 448.31 44.65H391.46Z"
              fill="#0091FF"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M455.728 158.006C453.915 156.286 452.858 153.918 452.79 151.42H475.37C475.564 149.624 475.372 147.807 474.808 146.091C474.244 144.374 473.32 142.798 472.098 141.467C470.876 140.137 469.384 139.082 467.722 138.373C466.06 137.665 464.266 137.32 462.46 137.36C458.988 137.36 455.659 138.739 453.204 141.194C450.749 143.649 449.37 146.978 449.37 150.45C449.37 153.922 450.749 157.251 453.204 159.706C455.659 162.161 458.988 163.54 462.46 163.54C465.051 163.562 467.588 162.805 469.743 161.365C471.897 159.926 473.569 157.872 474.54 155.47H470.99C470.213 157.054 468.994 158.381 467.481 159.289C465.967 160.197 464.224 160.649 462.46 160.59C459.962 160.655 457.541 159.725 455.728 158.006ZM468.804 142.678C470.569 144.229 471.708 146.37 472.01 148.7H452.83C453.132 146.37 454.271 144.229 456.036 142.678C457.801 141.127 460.07 140.271 462.42 140.271C464.77 140.271 467.039 141.127 468.804 142.678ZM67.4778 141.19C65.0247 143.636 63.6431 146.956 63.6364 150.42V150.47C63.6431 153.934 65.0247 157.254 67.4778 159.7C69.9308 162.146 73.2547 163.518 76.7189 163.515C80.1831 163.512 83.5043 162.133 85.9527 159.682C88.4011 157.232 89.7764 153.909 89.7764 150.445C89.7764 146.981 88.4011 143.658 85.9527 141.208C83.5043 138.757 80.1831 137.378 76.7189 137.375C73.2547 137.372 69.9308 138.744 67.4778 141.19ZM69.931 157.537C68.0649 155.678 67.0131 153.154 67.0064 150.52V150.47C67.0131 147.836 68.0649 145.312 69.931 143.453C71.7971 141.594 74.3248 140.552 76.9589 140.555C79.593 140.558 82.118 141.607 83.9794 143.471C85.8408 145.335 86.8864 147.861 86.8864 150.495C86.8864 153.129 85.8408 155.655 83.9794 157.519C82.118 159.383 79.593 160.432 76.9589 160.435C74.3248 160.438 71.7971 159.396 69.931 157.537ZM21.1252 161.734C23.7976 160.063 25.7825 157.489 26.72 154.48L23.18 154.52C22.4703 156.311 21.2249 157.839 19.6139 158.895C18.0029 159.951 16.1052 160.483 14.18 160.42C12.8766 160.438 11.5831 160.192 10.3776 159.696C9.17218 159.2 8.07977 158.465 7.1665 157.535C6.2533 156.605 5.53815 155.499 5.06433 154.285C4.59052 153.071 4.36792 151.773 4.40997 150.47C4.37799 147.811 5.38635 145.245 7.21997 143.32C8.37347 142.19 9.78741 141.361 11.3369 140.907C12.8864 140.452 14.524 140.386 16.1051 140.714C17.6862 141.043 19.1622 141.755 20.4031 142.788C21.6439 143.821 22.6113 145.144 23.22 146.64H26.72C25.7825 143.631 23.7976 141.057 21.1252 139.386C18.4529 137.714 15.27 137.056 12.1539 137.53C9.03772 138.004 6.1947 139.579 4.14038 141.97C2.086 144.36 0.956421 147.408 0.956421 150.56C0.956421 153.712 2.086 156.76 4.14038 159.15C6.1947 161.541 9.03772 163.116 12.1539 163.59C15.27 164.064 18.4529 163.406 21.1252 161.734ZM126.693 137.42H129.923V142.03C130.692 140.625 131.827 139.455 133.207 138.644C134.587 137.832 136.162 137.409 137.763 137.42C139.027 137.37 140.288 137.596 141.457 138.081C142.626 138.566 143.675 139.299 144.533 140.23C145.173 141.023 145.716 141.889 146.153 142.81C146.618 141.851 147.221 140.965 147.943 140.18C148.835 139.284 149.898 138.577 151.071 138.103C152.243 137.628 153.499 137.396 154.763 137.42C155.988 137.366 157.211 137.559 158.36 137.986C159.51 138.414 160.561 139.068 161.453 139.91C163.613 142.07 164.263 144.75 164.263 149.13V163.6H160.853V149.22C160.853 146.6 160.433 144.22 159.013 142.63C158.412 141.918 157.651 141.36 156.792 141C155.933 140.64 155.001 140.489 154.073 140.56C153.025 140.519 151.983 140.732 151.036 141.181C150.088 141.63 149.264 142.302 148.633 143.14C147.393 144.89 147.163 146.27 147.163 149.09V163.56H143.753V149.09C143.843 146.32 143.433 144.71 142.463 143.19C141.843 142.337 141.023 141.65 140.073 141.191C139.124 140.732 138.076 140.516 137.023 140.56C136.005 140.511 134.991 140.717 134.072 141.159C133.154 141.601 132.36 142.264 131.763 143.09C130.57 144.837 129.987 146.928 130.103 149.04V163.56H126.693V137.42ZM204.409 137.42H201.179V163.56H204.589V149.04C204.473 146.928 205.057 144.837 206.249 143.09C206.847 142.264 207.64 141.601 208.559 141.159C209.477 140.717 210.491 140.511 211.509 140.56C212.562 140.517 213.61 140.735 214.559 141.194C215.507 141.653 216.329 142.338 216.949 143.19C217.919 144.71 218.329 146.32 218.239 149.09V163.56H221.649V149.09C221.649 146.27 221.879 144.89 223.119 143.14C223.75 142.302 224.575 141.63 225.522 141.181C226.469 140.732 227.511 140.519 228.559 140.56C229.488 140.489 230.42 140.64 231.279 141C232.137 141.36 232.898 141.918 233.499 142.63C234.919 144.22 235.339 146.6 235.339 149.22V163.6H238.749V149.13C238.749 144.75 238.099 142.07 235.939 139.91C235.048 139.068 233.996 138.414 232.847 137.986C231.698 137.559 230.474 137.366 229.249 137.42C227.985 137.396 226.729 137.628 225.557 138.103C224.385 138.577 223.321 139.284 222.429 140.18C221.708 140.967 221.102 141.853 220.629 142.81C220.201 141.887 219.66 141.02 219.019 140.23C218.161 139.299 217.112 138.566 215.943 138.081C214.774 137.596 213.514 137.37 212.249 137.42C210.648 137.409 209.074 137.832 207.693 138.644C206.313 139.455 205.178 140.625 204.409 142.03V137.42ZM279.077 151.42C279.15 153.918 280.21 156.285 282.024 158.003C283.838 159.722 286.259 160.652 288.757 160.59C290.521 160.649 292.264 160.197 293.778 159.289C295.291 158.381 296.51 157.054 297.287 155.47H300.837C299.866 157.872 298.194 159.926 296.04 161.365C293.885 162.805 291.348 163.562 288.757 163.54C287.035 163.578 285.324 163.268 283.724 162.629C282.125 161.991 280.671 161.036 279.449 159.822C278.227 158.609 277.262 157.161 276.612 155.566C275.963 153.972 275.641 152.262 275.667 150.54C275.727 148.833 276.124 147.154 276.833 145.6C277.542 144.046 278.55 142.647 279.8 141.482C281.05 140.318 282.517 139.411 284.117 138.814C285.717 138.216 287.42 137.94 289.127 138C290.834 138.06 292.513 138.456 294.067 139.166C295.621 139.875 297.02 140.883 298.185 142.133C299.349 143.383 300.256 144.85 300.854 146.45C301.451 148.05 301.727 149.753 301.667 151.46L279.077 151.42ZM298.307 148.7C298.005 146.37 296.866 144.229 295.101 142.678C293.336 141.127 291.067 140.271 288.717 140.271C286.367 140.271 284.098 141.127 282.333 142.678C280.568 144.229 279.429 146.37 279.127 148.7H298.307ZM341.822 137.42H338.592V163.6H341.952V150.09C341.952 143.78 344.632 140.78 349.422 140.78H349.752V137.42C346.822 137.51 343.612 138.48 341.822 142.17V137.42ZM412.454 154.5C411.517 157.513 409.532 160.09 406.857 161.765C404.183 163.439 400.997 164.099 397.878 163.626C394.759 163.152 391.912 161.576 389.856 159.183C387.799 156.791 386.668 153.74 386.668 150.585C386.668 147.43 387.799 144.379 389.856 141.987C391.912 139.594 394.759 138.018 397.878 137.544C400.997 137.071 404.183 137.731 406.857 139.405C409.532 141.08 411.517 143.657 412.454 146.67H408.954C408.345 145.174 407.377 143.851 406.137 142.818C404.896 141.785 403.42 141.073 401.839 140.744C400.258 140.416 398.62 140.482 397.071 140.937C395.521 141.391 394.107 142.22 392.954 143.35C391.121 145.272 390.112 147.834 390.144 150.49C390.106 151.79 390.331 153.084 390.807 154.294C391.283 155.504 391.999 156.606 392.912 157.532C393.825 158.458 394.916 159.189 396.119 159.682C397.323 160.175 398.613 160.419 399.914 160.4C401.839 160.465 403.738 159.933 405.349 158.876C406.96 157.82 408.205 156.292 408.914 154.5H412.454Z"
              fill="#577083"
            />
          </svg>
        </div>
        <div class="file-name"><b>Filename:</b> <%=payload.fileName%></div>
        <!-- <div class="file-name" style="width: 10px"><b>url:</b> <%=payload.fileUrl%></div> -->
        <a class="donwload-button" href="<%=payload.fileUrl%>">Open file</a>
      </div>
    </div>
  </body>
</html>
