<div
  style="
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    line-height: inherit;
    font-family: 'Prompt-Light', 'Prompt Light', 'Prompt', sans-serif;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    font-size: 16px;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    display: block;
    width: 100%;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
    position: relative;
    z-index: 0;
  "
>
  <%- htmlText %>
  <div
    class="background-video"
    background-video-url="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4"
    background-video-position="center center"
    background-video-loop="false"
    background-video-speed="1"
    background-video-scale="unset"
    background-video-opacity="100"
    background-image-color-overlay=""
    background-video-color-overlay-opacity="100"
    background-video-width="0"
    background-video-height="0"
    style="
      position: absolute;
      z-index: -2;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      overflow: hidden;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <video class="background-video-tag" style="max-width: 100%; height: auto" autoplay="autoplay" controls="controls" muted="">
      <source src="<%-media.setting.generalBackgroundSetting.layoutSettingBackgroundVideoForm.videoUrl%>" type="video/mp4" />
    </video>
  </div>
</div>
