* {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: right;

  color: #484b52;

  table {
    width: 100%;
    td,
    th {
      display: flex !important;
      text-align: right !important;
      vertical-align: middle !important;
    }
  }
}
