<div class="pwa-install-card-overlay" *ngIf="showCard"></div>
<div class="pwa-install-card" @fadeOutIn *ngIf="showCard && !updateMode" reactorRoomClickOutside (outside)="outsideEvent($event)">
  <div class="dismiss" (click)="onDismiss()">
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L7.20711 6.5L12.8536 0.853554C13.0488 0.658291 13.0488 0.341709 12.8536 0.146446C12.6583 -0.0488155 12.3417 -0.0488155 12.1464 0.146446L6.5 5.79289L0.853553 0.146448C0.658291 -0.0488143 0.341709 -0.0488143 0.146447 0.146448C-0.0488155 0.34171 -0.0488155 0.658293 0.146447 0.853555L5.79289 6.5L0.146447 12.1464C-0.0488155 12.3417 -0.0488155 12.6583 0.146447 12.8536C0.341709 13.0488 0.658291 13.0488 0.853553 12.8536L6.5 7.20711L12.1464 12.8536Z"
        fill="white"
      />
    </svg>
  </div>
  <div class="text">
    <h3>More-Commerce</h3>
    <p>{{ "Get our free app. It won't take up space on your phone." | translate }}</p>
  </div>
  <div class="buttons">
    <button (click)="onIgnore()" class="secondary">
      {{ 'Ignore' | translate }}
    </button>
    <div class="right">
      <button (click)="onNotNow()" class="secondary">
        {{ 'Not Now' | translate }}
      </button>
      <button (click)="addToHomeScreen()" class="primary">
        {{ 'Install' | translate }}
      </button>
    </div>
  </div>
</div>

<div class="pwa-install-card update" @fadeOutIn *ngIf="showCard && updateMode">
  <div class="dismiss"></div>
  <div class="text">
    <h3>More-Commerce</h3>
    <p>{{ alertText | translate }}</p>
  </div>
  <div class="buttons force-right">
    <div class="right">
      <button (click)="onTriggerUpdate()" class="primary">
        {{ 'Update' | translate }}
      </button>
    </div>
  </div>
</div>
