<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style/stylesheet.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <page size="A4">
      <div class="grid-2-6-4">
        <div class="shop-info">
          <p class="instruction">*This is the instruction</p>
          <p class="description">This is shop description</p>
          <p class="title">This is shop title</p>
          <p class="details">
            <span>This is shop address</span><br />
            <span>This is shop phone number</span>
          </p>
        </div>
        <div class="flash-code">
          <div class="main">
            05c-<span>32433</span>-28
            <div class="sub">Ds-<span>dsdsdsa</span>-dadasd</div>
          </div>
        </div>
      </div>
      <div class="delivery-tracking">
        <div class="container">
          <div class="label">Delivery</div>
          <div class="details delivery">
            <div class="info">
              <div class="name">This is the company name.</div>
              <div>This is the company addpress.</div>
              <div>This is the company phone number.</div>
            </div>
            <div class="postal">
              <div class="postal-code">
                <div>1</div>
                <div>0</div>
                <div>4</div>
                <div>0</div>
                <div>0</div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="label">Tracking No.</div>
          <div class="details tracking">
            <div class="barcode">
              <img src="https://static.vecteezy.com/system/resources/previews/001/199/360/original/barcode-png.png" alt="barcode" />
              <div class="code">4234234324235423</div>
            </div>
            <img src="https://i.ibb.co/WHFgScb/flash-express.png" alt="Logo" />
          </div>
        </div>
      </div>
      <div class="grid-2-col">
        <div class="barcode">
          <img src="https://static.vecteezy.com/system/resources/previews/001/199/360/original/barcode-png.png" alt="barcode" />
          <div class="details">
            <div>Lorem</div>
            <div>2134235435665543435</div>
          </div>
        </div>
        <div class="cod-acc">
          <div class="special-label">C03</div>
        </div>
      </div>
      <div class="order-detail">
        <div class="title">**Lorem ipsum dolor sit ?</div>
        <table cellspacing="0">
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Variant</th>
            <th>Product Quantity</th>
          </tr>
          <tr>
            <td>#</td>
            <td>Product Name</td>
            <td>S: White</td>
            <td>2</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Product Name</td>
            <td>S: White</td>
            <td>2</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Product Name</td>
            <td>S: White</td>
            <td>2</td>
          </tr>
        </table>
      </div>
    </page>
  </body>
</html>
