<script>
  function initData(){
    return {
      productList:payloadData.productList,
      // refreshList(){
      //   refreshProductList()
      // },
      // intervalRefresh(){
      //   setInterval(() => {
      //     this.productList = payloadData.productList;
      //   }, 10000);
      // }
    }
  }
</script>

<div class="content" x-data="initData()" >
<!-- <div class="content" x-data="initData()" x-init="intervalRefresh()"> -->


  <div class="title-group-flex">
    <div class="title-label-flex">รายการสินค้าในตะกร้า</div>
    <!-- <div class="title-button-flex" @click="refreshList()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="-1" y="0" width="22" height="20" fill="black">
        <rect fill="white" x="-1" width="22" height="20"/>
        <path d="M17.6607 13.2144C17.3709 13.065 17.0167 13.1826 16.8697 13.4771C15.5574 16.1054 12.9415 17.7381 10.0428 17.7381C5.82477 17.7381 2.39309 14.2519 2.39309 9.96685C2.39309 9.6988 2.21742 9.46351 1.96333 9.39121C1.7094 9.31896 1.43887 9.42728 1.3018 9.65635L0.0856865 11.6888C-0.0831181 11.971 0.00518754 12.3387 0.282893 12.5102C0.56056 12.6816 0.922531 12.5919 1.09137 12.3098L1.39886 11.7959C2.21232 15.8046 5.71971 18.9337 10.0428 18.9337C13.4126 18.9337 16.4308 16.9992 17.9193 14.0179C18.0663 13.7234 17.9506 13.3637 17.6607 13.2144ZM19.8028 7.42353C19.5251 7.25204 19.1631 7.34175 18.9943 7.62387L18.6868 8.13781C17.8734 4.12903 14.3661 1 10.0428 1C6.67311 1 3.65491 2.93449 2.16638 5.91578C2.01935 6.21022 2.13515 6.57001 2.42498 6.71933C2.71481 6.8687 3.06897 6.75106 3.21597 6.45662C4.52827 3.8283 7.14417 2.19558 10.0428 2.19558C14.2609 2.19558 17.6926 5.68177 17.6926 9.96685C17.6926 10.2349 17.8683 10.4702 18.1224 10.5425C18.3759 10.6146 18.6466 10.5068 18.7839 10.2773L20 8.24485"/>
        </mask>
        <path d="M17.6607 13.2144C17.3709 13.065 17.0167 13.1826 16.8697 13.4771C15.5574 16.1054 12.9415 17.7381 10.0428 17.7381C5.82477 17.7381 2.39309 14.2519 2.39309 9.96685C2.39309 9.6988 2.21742 9.46351 1.96333 9.39121C1.7094 9.31896 1.43887 9.42728 1.3018 9.65635L0.0856865 11.6888C-0.0831181 11.971 0.00518754 12.3387 0.282893 12.5102C0.56056 12.6816 0.922531 12.5919 1.09137 12.3098L1.39886 11.7959C2.21232 15.8046 5.71971 18.9337 10.0428 18.9337C13.4126 18.9337 16.4308 16.9992 17.9193 14.0179C18.0663 13.7234 17.9506 13.3637 17.6607 13.2144ZM19.8028 7.42353C19.5251 7.25204 19.1631 7.34175 18.9943 7.62387L18.6868 8.13781C17.8734 4.12903 14.3661 1 10.0428 1C6.67311 1 3.65491 2.93449 2.16638 5.91578C2.01935 6.21022 2.13515 6.57001 2.42498 6.71933C2.71481 6.8687 3.06897 6.75106 3.21597 6.45662C4.52827 3.8283 7.14417 2.19558 10.0428 2.19558C14.2609 2.19558 17.6926 5.68177 17.6926 9.96685C17.6926 10.2349 17.8683 10.4702 18.1224 10.5425C18.3759 10.6146 18.6466 10.5068 18.7839 10.2773L20 8.24485" fill="white"/>
        <path d="M17.6607 13.2144L17.4317 13.6588L17.4317 13.6588L17.6607 13.2144ZM16.8697 13.4771L17.3171 13.7004L17.3171 13.7004L16.8697 13.4771ZM1.96333 9.39121L1.82649 9.87212L1.8265 9.87213L1.96333 9.39121ZM1.3018 9.65635L0.872745 9.39962L0.872741 9.39963L1.3018 9.65635ZM0.0856865 11.6888L0.514745 11.9456L0.514747 11.9456L0.0856865 11.6888ZM0.282893 12.5102L0.545624 12.0848L0.545597 12.0847L0.282893 12.5102ZM1.09137 12.3098L1.52041 12.5666L1.52045 12.5665L1.09137 12.3098ZM1.39886 11.7959L1.88887 11.6964L1.63226 10.4319L0.969784 11.5392L1.39886 11.7959ZM17.9193 14.0179L17.472 13.7945L17.472 13.7945L17.9193 14.0179ZM18.9943 7.62387L18.5653 7.36714L18.5652 7.36716L18.9943 7.62387ZM18.6868 8.13781L18.1968 8.23724L18.4534 9.50182L19.1159 8.39451L18.6868 8.13781ZM2.16638 5.91578L2.61371 6.13917L2.61372 6.13914L2.16638 5.91578ZM2.42498 6.71933L2.65404 6.27488L2.65399 6.27486L2.42498 6.71933ZM3.21597 6.45662L2.76863 6.23327L2.76862 6.23329L3.21597 6.45662ZM18.1224 10.5425L18.2592 10.0616L18.2592 10.0616L18.1224 10.5425ZM18.7839 10.2773L18.3548 10.0206L18.3548 10.0206L18.7839 10.2773ZM17.8897 12.7699C17.3483 12.4909 16.6918 12.714 16.4224 13.2537L17.3171 13.7004C17.3416 13.6513 17.3935 13.6391 17.4317 13.6588L17.8897 12.7699ZM16.4224 13.2537C15.1933 15.7154 12.7488 17.2381 10.0428 17.2381V18.2381C13.1342 18.2381 15.9216 16.4954 17.3171 13.7004L16.4224 13.2537ZM10.0428 17.2381C6.10831 17.2381 2.89309 13.9832 2.89309 9.96685H1.89309C1.89309 14.5206 5.54123 18.2381 10.0428 18.2381V17.2381ZM2.89309 9.96685C2.89309 9.47995 2.57355 9.04499 2.10016 8.9103L1.8265 9.87213C1.86128 9.88202 1.89309 9.91764 1.89309 9.96685H2.89309ZM2.10017 8.9103C1.62545 8.77523 1.1243 8.97921 0.872745 9.39962L1.73086 9.91308C1.75344 9.87535 1.79334 9.86269 1.82649 9.87212L2.10017 8.9103ZM0.872741 9.39963L-0.343374 11.4321L0.514747 11.9456L1.73086 9.91308L0.872741 9.39963ZM-0.343372 11.4321C-0.650858 11.946 -0.492967 12.6187 0.0201892 12.9356L0.545597 12.0847C0.503342 12.0586 0.484621 11.9959 0.514745 11.9456L-0.343372 11.4321ZM0.0201623 12.9356C0.538159 13.2555 1.21021 13.0849 1.52041 12.5666L0.662342 12.0531C0.634854 12.099 0.58296 12.1078 0.545624 12.0848L0.0201623 12.9356ZM1.52045 12.5665L1.82793 12.0526L0.969784 11.5392L0.662303 12.0531L1.52045 12.5665ZM0.908842 11.8953C1.76679 16.1233 5.46806 19.4337 10.0428 19.4337V18.4337C5.97136 18.4337 2.65785 15.486 1.88887 11.6964L0.908842 11.8953ZM10.0428 19.4337C13.6079 19.4337 16.7961 17.3868 18.3666 14.2412L17.472 13.7945C16.0655 16.6115 13.2173 18.4337 10.0428 18.4337V19.4337ZM18.3666 14.2413C18.634 13.7058 18.4267 13.0465 17.8897 12.7699L17.4317 13.6588C17.4745 13.6809 17.4987 13.741 17.472 13.7945L18.3666 14.2413ZM20.0655 6.9981C19.5475 6.67824 18.8754 6.84875 18.5653 7.36714L19.4234 7.8806C19.4508 7.83475 19.5027 7.82584 19.5401 7.84895L20.0655 6.9981ZM18.5652 7.36716L18.2578 7.8811L19.1159 8.39451L19.4234 7.88057L18.5652 7.36716ZM19.1768 8.03837C18.3189 3.81038 14.6178 0.5 10.0428 0.5V1.5C14.1145 1.5 17.4278 4.44769 18.1968 8.23724L19.1768 8.03837ZM10.0428 0.5C6.47781 0.5 3.28959 2.54686 1.71904 5.69243L2.61372 6.13914C4.02022 3.32212 6.8684 1.5 10.0428 1.5V0.5ZM1.71906 5.6924C1.45167 6.22784 1.65906 6.88717 2.19598 7.16381L2.65399 6.27486C2.61125 6.25284 2.58703 6.19259 2.61371 6.13917L1.71906 5.6924ZM2.19593 7.16378C2.73743 7.44285 3.39387 7.21967 3.66332 6.67996L2.76862 6.23329C2.74408 6.28244 2.69219 6.29455 2.65404 6.27488L2.19593 7.16378ZM3.66331 6.67998C4.89242 4.21828 7.33689 2.69558 10.0428 2.69558V1.69558C6.95146 1.69558 4.16413 3.43833 2.76863 6.23327L3.66331 6.67998ZM10.0428 2.69558C13.9774 2.69558 17.1926 5.95045 17.1926 9.96685H18.1926C18.1926 5.41308 14.5445 1.69558 10.0428 1.69558V2.69558ZM17.1926 9.96685C17.1926 10.4537 17.5121 10.8887 17.9855 11.0234L18.2592 10.0616C18.2244 10.0517 18.1926 10.016 18.1926 9.96685H17.1926ZM17.9855 11.0234C18.4594 11.1583 18.9609 10.9553 19.213 10.534L18.3548 10.0206C18.3322 10.0584 18.2924 10.071 18.2592 10.0616L17.9855 11.0234ZM19.2129 10.5341L20.4291 8.50158L19.5709 7.98813L18.3548 10.0206L19.2129 10.5341Z" fill="white" mask="url(#path-1-outside-1)"/>
        </svg>
    </div> -->
  </div>

  <div class="products-container">
    <template x-for="(product,index) of productList" :key="product.productId">
      <div class="product-item">
        <div class="image-preview">
          <img x-bind:src="product.images[0]" />
        </div>

        <div class="description">
          <div class="product-name">
            <span x-text="product.productName"></span>
          </div>
          <div class="product-attributes">
            <div x-text="product.attributes"></div>
            <div>ราคาต่อชิ้น <span x-text="product.unitPrice"></span></div>
            <div>จำนวน <span x-text="product.quantity"></span> ชิ้น</div>
          </div>
        </div>
    </template>
  </div>
</div>
