<section class="grid gap-4">
  <div class="flex items-center justify-end">
    <button (click)="onDismiss()" class="transition transform focus:outline-none hover:scale-105">
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L12.0526 12.0526M12.0526 1L1 12.0526" stroke="#BCC4D6" stroke-width="1.7" stroke-linecap="round" />
      </svg>
    </button>
  </div>
  <div class="grid gap-4" [formGroup]="themeSettingForm">
    <ng-container *ngFor="let toggleItem of toggleData; let toggleIndex = index">
      <button
        *ngIf="settingLayout === toggleItem.belongTo || !toggleItem.belongTo"
        (click)="onToggleItem(toggleItem.title)"
        class="flex items-center justify-between px-4 py-3 bg-gray-400 rounded focus:outline-none"
      >
        <span class="font-light text-white">{{ toggleItem.title }}</span>
        <svg
          class="transition transform"
          [ngClass]="{ ' -rotate-90': toggleItem.status }"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="10" cy="10" r="10" fill="white" />
          <circle cx="10" cy="10" r="9.5" stroke="white" stroke-opacity="0.8" />
          <path d="M8 15L13 10L8 5" stroke="#797F8C" stroke-width="1.5" stroke-linecap="round" />
        </svg>
      </button>
      <ng-container *ngTemplateOutlet="toggleContent; context: { selector: toggleItem.title, status: toggleItem.status, belongTo: toggleItem.belongTo }"> </ng-container>
    </ng-container>
    <ng-template #toggleContent let-status="status" let-selector="selector" let-belongto="belongto">
      <div [ngClass]="{ hidden: !status }">
        <ng-container *ngIf="selector === ESidebarElement.THEME_SETTING">
          <cms-next-cms-theme-setting-theme></cms-next-cms-theme-setting-theme>
        </ng-container>
        <ng-container *ngIf="selector === ESidebarElement.THEME_DEVICE">
          <cms-next-cms-theme-setting-device></cms-next-cms-theme-setting-device>
        </ng-container>
        <ng-container *ngIf="selector === ESidebarElement.THEME_COLOR">
          <cms-next-cms-theme-setting-color></cms-next-cms-theme-setting-color>
        </ng-container>
        <ng-container *ngIf="selector === ESidebarElement.THEME_TEXT">
          <cms-next-cms-theme-setting-text></cms-next-cms-theme-setting-text>
        </ng-container>
        <ng-container *ngIf="selector === ESidebarElement.THEME_CUSTOMIZE">
          <cms-next-cms-theme-setting-customize></cms-next-cms-theme-setting-customize>
        </ng-container>
      </div>
    </ng-template>
  </div>
</section>
