<!-- <div class="backgroundColor"></div> -->
<div class="mainBackground">
  <div class="mainContainer">
    <div class="timeUpdate">แก้ไขล่าสุด 20/08/2020</div>
    <div class="titleFont">ข้อกำหนด เงื่อนไข และนโยบายการซื้อบริการการตลาดดิจิตอล</div>
    <div class="contentFont">
      <div>
        - ข้อกำหนดต่อไปนี้ (“ข้อตกลงการใช้งาน”) จะเป็นข้อตกลงการใช้งานของคุณกับเว็บไซต์ ซึ่งรวมถึงเนื้อหา การใช้เงิน และการให้บริการทั้งหมดบน www.itopplus.com ที่คุณต้องปฏิบัติตาม
      </div>
      <div>
        - การใช้เว็บไซต์ สร้างบัญชีผู้ใช้งาน หรือกดยอมรับข้อตกลงการใช้งานของเรา จะถือว่าคุณยอมรับที่จะปฏิบัติตาม และอยู่ภายใต้ข้อตกลง รวมถึงยอมรับนโยบายการเป็นส่วนตัวที่เรากำหนด
        คุณจะไม่สามารถใช้บริการหรือซื้อบริการบนเว็บไซต์ของเราได้ หากคุณไม่เห็นด้วยกับข้อตกลง หรือนโยบายความเป็นส่วนตัวดังกล่าว
      </div>
      <div>
        - เว็บไซต์นี้เปิดให้บริการขายบริการการตลาดดิจิตอลสำหรับผู้ใช้ที่มีอายุเกิน 18 ปี บริบูรณ์แล้วเท่านั้น คุณจะไม่สามารถใช้บริการเว็บไซต์ของเราได้ หากคุณมีอายุต่ำกว่า 18 ปี
        การใช้บริการเว็บไซต์ของเรา เป็นการแสดงถึงว่าคุณได้ยืนยันว่าตนเองมีอายุผ่านเกณฑ์ และมีคุณสมบัติครบที่จะทำการยอมรับตกลง และสัญญาระหว่างคุณกับตัวบริษัทฯ
        มีสิทธิ์ที่จะระงับการใช้งานบัญชีใช้งานของคุณ หากคุณมีคุณสมบัติดังกล่าวไม่ครบถ้วน
      </div>
      <div>- คุณสามารถติดต่อเราผ่าน Call Center 02-029-1200 หากคุณมีคำถามเกี่ยวกับข้อตกลงการใช้งานของเรา</div>
    </div>
    <div class="contentBorder"></div>
    <div class="titleFont">ข้อกำหนดและเงื่อนไขสำหรับการขายและการคืนเงิน</div>
    <div class="titleFont">ข้อกำหนดทั่วไป</div>

    <div class="contentFont">
      <div>- ผู้ใช้งานที่สมัครสมาชิกกับ ITOPPLUS แล้วเท่านั้น ที่สามารถซื้อบริการได้</div>
      <div>- คุณสามารถสมัครสมาชิกได้โดยตรงบนเว็บไซต์ หรือการสมัครผ่านทางช่องทาง email และ social medias</div>
      <div>- การสมัครสมาชิกกับ ITOPPLUS ไม่มีค่าใช้จ่ายใดๆ</div>
      <div>
        - คุณจะได้รับการติดต่อจากเจ้าหน้าภายใน 2 วันทำการ (ตามข้อมูลติดต่อที่คุณได้ลงทะเบียนไว้)เมื่อมีการกดยอมรับข้อตกลง และสั่งซื้อบริการบนเว็บไซต์ พร้อมชำระเงินเรียบร้อย
      </div>
      <div class="subContainer">
        <div class="subTitleFont">
          1. บริการออกแบบ,จัดทำเว็บไซต์ ,การดูแล เว็บไซต์ Admin รายปี, Digital Plus ทั้งหมด รวมไปถึงการออกแบบภาพโฆษณาดิจิตอล Digital Media Design และบริการด้านเทคนิค Technical
          Service ฯลฯ ภายใต้การดูแลจัดทำของทีม Digital Production ทั้ง Package หลักและเสริมอื่นๆ ทั้งหมดที่ ITOPPLUS เป็นผู้ให้บริการ
        </div>
        <div>ข้อกำหนดการขาย</div>
        <div>- บริการด้านเว็บไซต์ของเรา ใช้ระบบเว็บไซต์อัจฉริยะลิขสิทธ์เฉพาะไอท้อปพลัส ITOPPLUS Website System</div>
        <div>- บริการด้านเว็บไซต์ของเรา มีพื้นที่เว็บไซต์ขนาด 3GB, และพื้นที่ไม่จำกัด ให้เลือกตามความต้องการของคุณ</div>
        <div>นโยบายการบอกเลิกสัญญาการคืนเงิน</div>
        <div>
          - ทางบริษัท<u>ขอสงวนสิทธ์ในการคืนเงินค่าบริการทุกกรณี</u> หากคุณยินยอมตกลงซื้อขายกับทางบริษัทแล้วนับจากวันที่มีการชำระค่าบริการเข้ามา
          เนื่องจากเป็นการเริ่มสัญญาการให้บริการแล้วอัตโนมัติ ตามข้อตกลงอิงตามการนำเสนอราคาและการดูแลตามรายละเอียดใบเสนอราคาจากฝ่ายขายของ ITOPPLUS ในวันที่ตกลงซื้อขาย
        </div>
      </div>
      <div class="subContainer">
        <div class="subTitleFont">2. บริการทำการตลาดบนกูเกิล Google Marketing</div>
        <div>ข้อกำหนดการขาย</div>
        <div>- บริการทำการตลาดบน Google ครอบคลุมทุกบริการทำโฆษณาประเภท Search, GDN, YouTube, Re-Marketing, Shopping Ads.</div>
        <div>- ธุรกิจของคุณสามารถได้รับบริการ ในการทำโฆษณาครบทุกบริการข้างต้น ทั้งนี้ขึ้นอยู่กับประเภทสินค้า และธุรกิจที่ไม่ขัดต่อนโยบายการทำโฆษณาของบริการ Google นั้น</div>
        <div>นโยบายการบอกเลิกสัญญาการคืนเงิน</div>
        <div>
          - บริษัทจะคืนเงินค่าบริการตามการพิจารณาตามนโยบายของ ITOPPLUS เท่านั้น กรณีที่ธุรกิจของคุณขัดกับนโยบายการทำโฆษณา ของ Google ในทุกบริการโฆษณาข้างต้น
          และไม่สามารถหาวิธีการปรับแก้ไขได้
        </div>
        <div>
          - กรณีอื่นๆ
          <u> ขอสงวนสิทธ์ในการคืนเงินค่าบริการจัดทำโฆษณา และค่าโฆษณาของ Google ทุกกรณี </u> หากคุณยินยอมตกลงซื้อขายกับทางบริษัทแล้วนับจากวันที่มีการชำระค่าบริการเข้ามา
          เนื่องจากเป็นการเริ่มสั
        </div>
        ญาการให้บริการแล้วอัตโนมัติ ตามข้อตกลงอิงตามการนำเสนอราคาและการดูแลตามรายละเอียดใบเสนอราคาจากฝ่ายขายของ ITOPPLUS ในวันที่ตกลงซื้อขาย
      </div>
    </div>
    <div class="subContainer">
      <div class="subTitleFont">3. บริการทำการตลาดบนเฟสบุ๊ค Facebook Marketing</div>
      <div>ข้อกำหนดการขาย</div>
      <div>
        - บริการทำการตลาดบน Facebook แบบครบวงจร ครอบคลุมการวางแผนกลยุทธ์ จัดสื่อโฆษณา เนื้อหาบทความสั้น จัดทำและดูแลแคมเปญโฆษณา เก็บสถิติข้อมูล วิเคราะห์และนำเสนอ
        ตามจำนวนและระยะเวลาในสัญญาบริการ
      </div>
      <div>นโยบายการบอกเลิกสัญญาการคืนเงิน</div>
      <div>
        -
        <u> ทางบริษัทขอสงวนสิทธ์ในการคืนเงินค่าบริการจัดทำโฆษณา และค่าโฆษณาของ Facebook ทุกกรณี </u>
        หากคุณยินยอมตกลงซื้อขายกับทางบริษัทแล้วนับจากวันที่มีการชำระค่าบริการเข้ามา เนื่องจากเป็นการเริ่มสัญญาการให้บริการแล้วอัตโนมัติ
        ตามข้อตกลงอิงตามการนำเสนอราคาและการดูแลตามรายละเอียดใบเสนอราคาจากฝ่ายขายของ ITOPPLUS ในวันที่ตกลงซื้อขาย
      </div>
    </div>
    <div class="subContainer">
      <div class="subTitleFont">4. บริการทำการตลาดบนไลน์ Line Marketing</div>
      <div>ข้อกำหนดการขาย</div>
      <div>- บริการทำการตลาดบน Line เป็นการทำโฆษณาที่จะแสดงบน LAP (Line Ads Platform) คือ Line Timeline และ Line Today</div>
      <div>- บริการนี้ครอบคลุมการวางแผนกลยุทธ์และงบประมาณ จัดทำและตั้งค่าแคมเปญโฆษณา เก็บสถิติข้อมูล พร้อมวิเคราะห์และรายงานผล</div>
      <div>- บริการนี้ไม่รวมการออกแบบรูปภาพโฆษณา</div>
      <div>นโยบายการคืนเงิน</div>
      <div>
        -
        <u> ทางบริษัทขอสงวนสิทธ์ในการคืนเงินค่าบริการจัดทำการตลาดบนไลน์ Line Marketing ทุกกรณี </u>
        หากคุณยินยอมตกลงซื้อขายกับทางบริษัทแล้วนับจากวันที่มีการชำระค่าบริการเข้ามา เนื่องจากเป็นการเริ่มสัญญาการให้บริการแล้วอัตโนมัติ
        ตามข้อตกลงอิงตามการนำเสนอราคาและการดูแลตามรายละเอียดใบเสนอราคาจากฝ่ายขายของ ITOPPLUS ในวันที่ตกลงซื้อขาย
      </div>
    </div>
    <div class="contentBorder"></div>
    <div class="titleFont">วิธีการและเงื่อนไขการคืนเงินค่าบริการ</div>
    <div class="contentFont">
      <div>
        - กรณีชำระค่าบริการผ่านบัตรเครดิต หรือ ผู้ให้บริการตัวกลางในการชำระเงินต่างๆ Omise, Pay.sn, 2C2P หากเป็นการอนุมัติคืนค่าใช้จ่ายตรงตามเงื่อนไขที่แจ้งข้างต้น
        ทางบริษัทจะดำเนินการคืนเงินให้ โดยคืนเข้าวงเงินบัตรเครดิตที่ลูกค้าชำระเงินเท่านั้น
      </div>
      <div>- จำนวนเงินที่คืนเทียบจากยอดที่ลูกค้าได้มีการชำระเข้ามาและมีใบเสร็จเป็นหลักฐานในการชำระเงิน</div>
    </div>
    <div class="contentBorder"></div>
    <div class="titleFont">เงื่อนไขการโอนย้ายบริการเปลี่ยนแปลงแพ็กเกจ</div>
    <div class="contentFont">
      <div>
        - สามารถโอนย้ายบริการหรือเปลี่ยนแปลงแพ็กเกจบริการได้ เฉพาะกรณีที่เปลี่ยนแปลงแพ็กเกจภายในปีนั้นๆ ที่ซื้อเข้ามาเท่านั้นอิงตามวันที่ออกใบเสร็จครั้งแรก
        และจะต้องเป็นกรณีที่ยังไม่เริ่มขั้นตอนการทำงานของแพ็กเกจเดิมและได้รับการอนุมัติตามการพิจารณาภายใต้เงื่อนไขของบริษัท ITOPPLUS เท่านั้น
      </div>
      <div>
        - กรณีเปลี่ยนเป็นแพ็กเกจที่ราคาต่ำกว่าแพ็กเกจเดิมที่ซื้อ
        <u>ทางบริษัทขอสงวนสิทธ์ในการคืนเงินค่าบริการส่วนต่างทุกกรณี</u>
      </div>
      <div>
        - กรณีเปลี่ยนเป็นแพ็กเกจที่ราคาสูงกว่าแพ็กเกจเดิมที่ซื้อ
        <u> คุณจะต้องเป็นผู้รับผิดชอบในการเพิ่มเงินส่วนต่างให้กับทางบริษัท ITOPPLUS </u>
      </div>
      <div>
        - หากเป็นการโอนย้ายบริการหรือเปลี่ยนแปลงแพ็กเกจบริการ การออกใบเสร็จในทางบัญชีของบริษัท ITOPPLUS จะออกใบเสร็จให้ใหม่ตามยอดใหม่ที่มีการเปลี่ยนแปลงแพ็กเกจ
        และจะมีการออกใบลดหนี้ให้ลูกค้าตามยอดที่โอนย้ายเปลี่ยนแปลงแพ็กเกจ ลงวันที่ตามบิลในใบเสร็จที่เปลี่ยนแปลงแพ็กเกจ
      </div>
    </div>
    <div class="contentBorder"></div>
  </div>
</div>
