<div class="content" >
    <div class="wrapper-success-title">เกิดข้อผิดพลาด</div>
    <div class="title">ไม่สามารถดำเนินการต่อได้ ทางระบบจะดำเนินการการคืนเงินกับช่องทางที่ท่านได้ดำเนินการชำระเงิน ขอบคุณค่ะ</div>
    <!-- <div  class="omise-button" onClick="onCloseSuccessMessage()">
        <span>ปิดหน้าต่าง</span>
        </div> -->
</div>
