<div class="content" >
    <div class="wrapper-success-title">การจ่ายเงินล้มเหลว</div>
    <div id="omise-fail-text" class="wrapper-fail-title"></div>
    <div  class="omise-button" onClick="onCloseSuccessMessage()">
        <span>ปิดหน้าต่าง</span>
      </div>
</div>
