<div class="content" >
    <div class="wrapper-success-title">เกิดข้อผิดพลาด</div>
    <div class="title">ไม่สามารถดำเนินการได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง </div>
    <div  class="omise-button" onClick="onCloseSuccessMessage()">
        <span>ปิดหน้าต่าง</span>
      </div>
</div>