<div class="content" >
    <div class="wrapper-success-title">ขอบคุณสำหรับการชำระเงิน !!</div>
    <!-- <div class="wrapper-success-title">Thank you for your payment !!</div> -->
    <div class="title">การชำระเงินสำเร็จแล้ว. </div>
    <!-- <div class="title">Your payment was successful, you can close this. </div> -->
    <div  class="omise-button" onClick="onCloseSuccessMessage()">
        <span>ปิดหน้าต่าง</span>
        <!-- <span>Close</span> -->
        </div>
</div>