<div class="content" >
    <div class="wrapper-success-title">ขอบคุณสำหรับการสั่งสินค้า !!</div>
    <!-- <div class="wrapper-success-title">Thank you for your order !!</div> -->
    <div class="title">ดำเนินการสั่งสินค้าสำเร็จแล้ว. </div>
    <!-- <div class="title">Your order was successful, you can close this. </div> -->
    <div  class="omise-button" onClick="onCloseSuccessMessage()">
        <span>ปิดหน้าต่าง</span>
        <!-- <span>Close</span> -->
    </div>
</div>