<div class="content" >
    <div class="wrapper-success-title">ขอบคุณสำหรับการสั่งสินค้า !!</div>
    <!-- <div class="wrapper-success-title">Thank you for your order !!</div> -->
    <div class="title">กรุณาดำเนินการชำระสินค้า โดยการโอนเงินผ่านช่องทางที่แจ้งไปยังกล่องข้อความ. </div>
    <!-- <div class="title">Please transfer funds to pay for the goods before delivery. </div> -->
    <div  class="omise-button" onClick="onCloseSuccessMessage()">
        <!-- <span>Close</span> -->
        <span>ปิดหน้าต่าง</span>
      </div>
</div>