@import 'base';
@import 'custom-checkbox';
@import 'buttons';
$padding: 20px;
$item-hover: rgb(242, 242, 242);

.nav-section {
  height: calc(100vh - 437px);
  @include custom-scroll-bar();
  overflow: auto;
}
.menu {
  position: relative;
  font-size: 1rem;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background: white;
  height: 100%;

  min-width: 250px;
  max-width: 250px;
  transition: all 0.5s ease-in-out;

  a {
    text-decoration: none;
  }

  .section-seperator {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #a2adb7;

    &.organize {
      margin: 10px 0 5px 0;
    }

    &.shop {
      margin: 15px 0 15px 0;
    }
    // #e8e8e8
  }
  .section-seperator-dotted {
    color: #8f9295;
    border-bottom: 1px dotted #e8e8e8;
    margin: 15px 0;
  }

  .package-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    display: none;
  }
  .upgrade {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding;
    padding-top: 44px;
    padding-bottom: 44px;
    transition: all 0.1s ease-in-out;

    img {
      max-width: 127px;
      width: 100%;
    }
  }

  .disableClick {
    cursor: not-allowed;

    a {
      pointer-events: none;
    }
  }

  nav {
    padding: 20px 0px;
    padding-right: 20px;

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 13px;
      padding-left: 30px;

      &.organize {
        padding-left: 20px;
      }

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background: $item-hover;
      }

      &:focus {
        outline: none;
      }

      .item {
        display: flex;
        align-items: center;
      }
      span.total {
        display: flex;
        color: white;
        background: red;
        height: 16px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        border-radius: 8px;
        padding: 0px 5px;
      }

      .icon-invert {
        img {
          filter: invert(0.5) brightness(1.1);
          -webkit-filter: invert(0.5) brightness(1.1);
        }
      }

      &.active,
      &.active:hover {
        @include background-gradient();

        .text {
          color: white;
        }

        .icon {
          img {
            filter: brightness(0) invert(1);
            -webkit-filter: brightness(0) invert(1);
          }
        }

        .icon-invert {
          img {
            filter: invert(0) brightness(1);
            -webkit-filter: invert(0) brightness(1);
          }
        }
      }

      &.has-sub {
        background: none;

        .text {
          font-size: 14px;
          padding-left: 15px;
          color: $text-light-color;
        }

        .icon {
          img {
            filter: none;
            -webkit-filter: none;
          }
        }
        .icon-invert {
          img {
            filter: none;
            -webkit-filter: none;
          }
        }

        img.expand {
          display: block;
        }

        &.active:hover,
        &:hover {
          background: $item-hover;

          .text {
            font-size: 14px;
            padding-left: 15px;
            color: $text-light-color;
          }
          .icon-invert,
          .icon {
            img {
              filter: none;
              -webkit-filter: none;
            }
          }
        }
      }
      .icon-invert,
      .icon {
        display: flex;
        align-items: center;
        img {
          width: 20px;
        }
      }

      .text {
        font-size: 14px;
        padding-left: 15px;
        color: $text-light-color;
      }

      .expand {
        height: 14px;
        //margin-right: -8px;
        transition: $transition;

        &.up {
          transform: scaleY(-1);
        }
      }

      span {
        color: black;
        &.active {
          color: white;
        }
      }
    }

    .sub {
      .nav-item {
        background: #e2f1ff;
        color: #373a50;
        font-weight: 300;
        margin-bottom: 1px;
        padding-left: 50px;
        transition: $transition;

        &.active {
          @include background-gradient();

          .text {
            color: white;
            font-weight: 400;
          }
        }
      }
    }
  }
  .bottom-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    .slidebar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: cursor;
      cursor: pointer;
      width: 100%;
      background-color: white;
      .text {
        font-size: 14px;
        padding-left: 30px;
        color: $text-light-color;
      }
      .slidebar-arrow {
        background-color: #e2f2ff;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 1rem;
        svg {
          fill: none;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  .usingNGDEEP {
    ::ng-deep {
      .shop-page-container {
        .owner {
          padding: 10px 30px;
        }
      }
    }
  }
}

@media #{$tabletmin} {
  .menu {
    transition: all 0.5s ease-in-out;
  }
  .menu.inactive {
    position: relative;
    min-width: 50px;
    transition: min-width 0.5s ease-in-out;
    // transform: $transition;

    .logo {
      justify-content: center;
      padding: 20px 10px;

      img {
        width: 35px;
        flex-shrink: 0;
      }

      .text {
        display: none;
      }
    }

    nav {
      padding-right: 0px;

      .nav-item {
        justify-content: center;
        border-radius: 0px;
        padding: 15px 10px;
        span.total {
          display: none;
        }
        .text {
          display: none;
        }

        &.has-sub {
          .text {
            display: none;
          }
          .icon-invert,
          .icon {
            img {
              filter: none;
              -webkit-filter: none;
            }
          }

          svg.expand {
            display: none;
          }

          &.active,
          &.active:hover {
            @include background-gradient();

            .text {
              color: white;
            }

            .icon {
              img {
                filter: brightness(0) invert(1);
                -webkit-filter: brightness(0) invert(1);
              }
            }
            .icon-invert {
              img {
                filter: brightness(1) invert(0);
                -webkit-filter: brightness(1) invert(0);
              }
            }
          }
        }
      }

      .sub {
        display: none;
      }
    }
    .bottom-menu {
      .slidebar {
        display: flex;
        a.text {
          display: none;
        }

        .slidebar-arrow {
          background: transparent;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          width: 100%;
          text-align: center;
          svg {
            path {
              stroke: #70829a;
            }
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
@media #{$mobilemax} {
  .nav-section {
    height: auto;
  }
}

@media #{$tabletmax} {
  .nav-section {
    height: calc(100vh - 367px);
  }
  .menu {
    position: relative;
    max-width: 280px;
    width: calc(100% - 20px);
    top: 52px;
    left: 10px;
    z-index: 11;
    overflow: auto;
    transform-origin: top left;
    transition: all 0.5s ease-in-out;
    @include custom-scroll-bar();

    box-shadow: 0 0px 6px 0 rgba(32, 33, 36, 0.28);
    .logo {
      display: none;
    }
    .package-label {
      display: flex;
    }
    .upgrade {
      display: flex;
    }

    nav {
      padding: 15px;
      padding-left: 0px;
      padding-right: 15px;
      .nav-item {
        padding: 13px 15px;
      }
    }
    .bottom-menu {
      display: none;
    }
  }

  .menu.inactive {
    transform: scale(0);
    transform-origin: top left;
  }

  .sticky {
    position: fixed;
    top: 52px;
  }
}
@media screen and (max-height: 992px) {
  .slidebar {
    display: none;
  }
}
svg.warning-icon {
  padding-top: 5px;
  margin-right: -5px;
}
